.timer-list {
  a {
    color: #fff
  }
  mat-list-item {
    border-bottom: 1px solid gray;
  }
}

.btn-delete {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  min-width: 70px;
  border-radius: 0px;
}
